<p>student-list works!</p>
<div class="card border-primary">
  <h3 class="card-header bg-primary">{{title}}</h3>
  <div class="card-body" *ngIf="studentList.length !=0; else elseBlock">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Address</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let student of studentList; let i = index; let o = even" [ngSwitch]=student.gender
          [style.background]="o==true ? 'aqua' : 'white'" >
            <td>{{i+1}}</td>
            <td>{{student.name}}</td>
            <td>{{student.address}}</td>
            <td *ngSwitchCase="1">Male</td>
            <td *ngSwitchCase="0">Female</td>
            <td *ngSwitchDefault [ngClass]="['text-color']">LGBT</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="removeStudent(i)" [disabled]="isDisable">Delete</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <ng-template #elseBlock>
      <h3>List is empty !</h3>
  </ng-template>
</div>
